/*--- タブレット向け  ---*/
@media all and (max-width: 1000px) {
    
    /*--- top ---*/
    
    #top {
        height: 600px;
    }
    
    .cover {
        padding: 150px 0;
    }
    
    /*--- works ---*/
    
    .portfolio-description {
        padding: 0;
    }
    
    .portfolio-description p img {
        height: 50px;
    }
}

/*--- スマホ向け  ---*/
@media all and (max-width: 670px) {
    
    /*--- common ---*/
    
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 25px;
    }

    p, li, a {
        font-size: 15px;
    }
    
    /*--- header ---*/
    
    #menu {
        display: none;
    }
    
    #open-menu {
        display: block;
    }
    
    #close-menu {
        display: block;
    }
    
    #menu ul {
        float: left;
        margin-top: 10px;
    }
    
    #menu.shown {
        display: block;
        background-color: white;
    }
    
    #open-menu.hide {
        display: none;
    }
    
    /*--- top ---*/
    
    #top {
        height: 500px;
    }
    
    .cover {
        padding: 100px 0;
    }
    
    /*--- profile ---*/
    
    .profile-left {
        width: 30%;
    }
    
    .profile-right {
        width: 65%;
    }
    
    .logos img {
        height: 50px;
    }
    
    /*--- works ---*/
    
    .portfolios {
        text-align: left;
    }
    
    .portfolio {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    
    .portfolio-img {
        float: none !important;
        margin: 0 auto 10px !important;
        width: 50%;
        display: block;
    }
    
    .portfolio-description {
        float: none;
        width: 100%;
    }
    
    .portfolio-description p {
        text-align: left;
    }
    
}

